.card {
    height: 100px;
    color: black;
    cursor: pointer;
    /*background-color: #838686;*/
}

.text {
    margin-top: 0.5rem;
    font-size: clamp(.9rem, 0.6vw, 1rem);
    font-weight: bold;
}

@media (max-width: 700px) {
    .card {
        height: 100px;
        width: 100%;
    }

    .text {
        margin-top: 0.3rem;
        font-size: 0.6rem;
        font-weight: bold;
    }
}