.container {
    display: inline-block;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    margin-top: 0.6em;
    max-width: 45%;
    margin-right: 0;
    margin-left: 0;
    border-radius: 25px;
}
.group {

}

.text {
    font-size: clamp(0.55rem, 0.65vw, .8rem);
    color: black;
}
@media (max-width: 600px) {
    .container {
        max-width: 60%;
    }

}