/*Container css*/
.container {
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    min-width: 100%;


    /*border-bottom: solid lightslategray 0.1rem;*/

}
.mainTitle{
    font-size: xxx-large;
    background: linear-gradient(to right, #f375ce, #65e0f3);
    -webkit-background-clip: text; /* For Safari */
    background-clip: text;
    color: transparent;


}
.title {
    font-size: x-large;

}
@media screen and (max-width: 680px) {
    .container {
        padding: 1rem; /* Adjust padding for smaller screens */
    }
    .title {
        font-size: large;
    }
    .mainTitle {
        font-size: large;
    }
}
@media screen and (max-width: 425px) {
    .container {
        padding: 1rem; /* Adjust padding for smaller screens */
    }
    .title {
        font-size: small;
    }
    .mainTitle {
        font-size: small;
    }
}